<!DOCTYPE html>
<html>
  <head>
  	
    <script type="text/javascript" src="/javascripts/polymaps/polymaps.js"></script>
    <style type="text/css">

@import url("/stylesheets/polymaps.css");

    </style>

  </head>
  <body>
  
  
  	<table width=100% border="0">
  		<tr>
  			<td colspan="10" style="background-color:#FFA500;">
  				<h1 style="text-align:center;"">FastTrack</h1>
  			</td>
  		</tr>
  		
  		<tr>
			<td style="background-color:#FFD700;width:150px;text-align:top;">
				<b>Menu</b><br>
				<hr>
				<input type="submit" name="createPlaneSubmit" value="Create Object" onClick="createObject();" /><br>
				<input type="submit" name="deletePlaneSubmit" value="Delete Plane"/><br>
				<hr>
				<input type="submit" name="startTrackingSubmit" value="Start Tracking" onClick="startTracking();"/>
				<input type="submit" name="stopTrackingSubmit" value="Stop Tracking" onClick="stopTracking();"/>
				<br>
				Mouse Pos: <input type="checkbox" name="mousePosCheck" value="Mouse Pos." onClick="showCoords();"/>
				<label id="textCoords"></label>

				
			</td>
			<td colspan="9" style="background-color:#EEEEEE;text-align:top;" onmousemove="mouseMoveHandler(event);">
				<div id="map" class="fullscreen" style="height:750px; width:1100px" onmouseover="mouseOntoMap();" onmouseout="mouseOutofMap();"  >
  					<script type="text/javascript" src="/javascripts/polymaps/overlay.js" ></script>
    				<span id="copy">
      				&copy; 2010
      				<a href="http://www.cloudmade.com/">CloudMade</a>,
      				<a href="http://www.openstreetmap.org/">OpenStreetMap</a> contributors,
      				<a href="http://creativecommons.org/licenses/by-sa/2.0/">CCBYSA</a>.
    				</span>
  				</div>
			</td>
		</tr>
  	</table>
  </body>
</html>
