<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/javascripts/polymaps/polymaps.js"></script>
    <style type="text/css">

@import url("/stylesheets/tipsy.css");
@import url("/stylesheets/example.css");

.layer circle {
  fill: lightcoral;
  fill-opacity: .5;
  stroke: brown;
  stroke-width: 1.5px;
}

.tipsy-inner {
  padding: 3px;
  line-height: 0;
}

.tipsy-inner img {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: white;
}
    </style>
  </head>
  <body>
    <script type="text/javascript" src="/javascripts/tipsyMove.js"></script>
  </body>
</html>
